:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}
body {
  font-family: var(--main-font);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
.navigation-list .link.current {
  color: var(--accent-color);
}
/* =======================ШАПКА============================ */
.web {
  font-family: var(--secondary-font);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.19x;

  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo-link {
  font-family: var(--secondary-font);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #000000;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
/* ============================КОНЕЦ ШАПКИ========================== */

/* ===========================ГЛАВНАЯ СТУДИЯ=============================== */
.hiden-title {
  visibility: hidden;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* color: #ffffff; */
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.privelegius-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.discription {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;

  color: #212121;
}
.members-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #212121;
}
.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #212121;
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #757575;
}
/* =======================КОНЕЦ ГЛАВНОЙ СТУДИИ================== */

/* ===============================ФУТЕР========================== */
.footer-logo {
  font-family: var(--secondary-font);

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  /* color: #ffffff; */
}
.footer-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  /* color: #ffffff99; */
}
.footer-list-link:hover,
.footer-list-link:focus {
  color: #ffffff;
}
/* ======================КОНЕЦ ФУТЕРА===================== */

/* =========================ГЛАВНАЯ ПОРТФОЛИО================== */
.nav-btn-list-but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  letter-spacing: 0.03em;

  color: #212121;
}
.nav-btn-list-but:hover,
.nav-btn-list-but:focus {
  background: var(--accent-color);
  color: #ffffff;
}
.elements-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}
.elements-list-progects {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: #757575;
}
/* ======================КОНЕЦ ГЛАВНОЙ ПОРТФОЛИО=============== */
