:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}
body {
  font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.navigation-list .link.current {
  color: var(--accent-color);
}
/* =======================ШАПКА============================ */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header .container {
  display: flex;
  align-items: center;
}
.logo-link {
  margin-right: 93px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.web {
  font-family: var(--secondary-font);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.19x;

  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo-link {
  font-family: var(--secondary-font);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #000000;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: 50px;

  color: #212121;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
/* ============================КОНЕЦ ШАПКИ========================== */

/* ===========================ГЛАВНАЯ СТУДИЯ=============================== */
.hero .container {
  padding: 200px 252px;
  text-align: center;

  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 47px;
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  color: #ffffff;
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.privelegius {
  margin-top: 47px;
  margin-bottom: 47px;
}
.privelegius-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.privelegius-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.privelegius-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.discription {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}
.about-title {
  text-align: center;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;

  color: #212121;
}
.about {
  margin-top: 47px;
  margin-bottom: 47px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;

  margin-top: -30px;
}
.about-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.members {
  margin-top: 47px;
  margin-bottom: 47px;
}
.members-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #212121;
}
.members-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.members-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.members-list-wrapper {
  padding-top: 30px;
  padding-bottom: 47px;
}
.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;

  letter-spacing: 0.03em;

  color: #212121;
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  letter-spacing: 0.03em;

  color: #757575;
}
/* =======================КОНЕЦ ГЛАВНОЙ СТУДИИ================== */

/* ===============================ФУТЕР========================== */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: var(--secondary-font);

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-list-item {
  margin-bottom: 9px;
}
.contacts {
  margin-top: 20px;
}
.footer-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff99;
}
.footer-list-link:hover,
.footer-list-link:focus {
  color: #ffffff;
}
/* ======================КОНЕЦ ФУТЕРА===================== */

/* =========================ГЛАВНАЯ ПОРТФОЛИО================== */
.nav-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 0 50px 0; */
  /* padding: 0; */
  /* list-style: none; */
  padding-top: 94px;
  padding-bottom: 50px;
}
.navigation-btn-list-item:not(:last-child) {
  margin-right: 8px;
}
.nav-btn-list-but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  letter-spacing: 0.03em;

  color: #212121;
}
.nav-btn-list-but:hover,
.nav-btn-list-but:focus {
  background: var(--accent-color);
  color: #ffffff;
}
.elements-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.elements-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.elements-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}
.elements-list-progects {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: #757575;
}
/* ======================КОНЕЦ ГЛАВНОЙ ПОРТФОЛИО=============== */
